*~
/premod/root/cache/*.html
/premod/root/cache/*.php
/premod/root/cache/*.lock
!/premod/root/cache/.htaccess
!/premod/root/cache/index.htm
/premod/root/config*.php
/premod/root/store/*
!/premod/root/store/.htaccess
!/premod/root/store/index.htm
/premod/root/files/*
!/premod/root/files/.htaccess
!/premod/root/files/index.htm
/premod/root/images/avatars/gallery/*
!/premod/root/images/avatars/gallery/index.htm
/premod/root/images/avatars/upload/*
!/premod/root/images/avatars/upload/index.htm
/premod/root/images/ranks/*
!/premod/root/images/ranks/index.htm

/tests/phpbb_unit_tests.sqlite*
/tests/tmp/*
/vendor
