<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true"
         backupStaticAttributes="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         strict="true"
         bootstrap="./bootstrap.php">

	<testsuites>
		<testsuite name="phpBB SEO Test Suite">
			<directory suffix="_tests.php">./</directory>
		</testsuite>
	</testsuites>

	<php>
		<var name="phpbb_root_path" value="premod/root/" />
		<var name="phpEx" value="php" />
	</php>
</phpunit>
