<!-- INCLUDE overall_header.html -->

<!-- INCLUDE gym_sitemaps/gym_link_body.html -->

<!--
/**
* Bellow is only used to show the source code
**/
-->
	<div class="forumbg">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt>Source PHP : {PHP_FILE}</dt>
						<dd>&nbsp;</dd>
					</dl>

				</li>
			</ul>
			<div class="post bg1">
			<div class="inner">
				<span class="corners-top"><span></span></span>
				
				<div class="postbody bg1" style="width:80%;">
					<div class="content bg1">
						<dl><dt>{L_CODE}: <a href="#" onclick="selectCode(this); return false;">{L_SELECT_ALL_CODE}</a></dt><dd><code>{PHP_SOURCE_CODE}</code></dd></dl>
					</div>
				</div>	
				<span class="corners-bottom"><span></span></span>
			</div>	
			</div>
			<span class="corners-bottom"><span></span></span>

		</div>
	</div>
	<div class="forumbg">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt>Source html : {TEMPLATE_FILE}</dt>
						<dd>&nbsp;</dd>
					</dl>

				</li>
			</ul>
			<div class="post bg1">
			<div class="inner">
				<span class="corners-top"><span></span></span>
				
				<div class="postbody bg1" style="width:100%;">
					<div class="content bg1">
						<dl><dt>{L_CODE}: <a href="#" onclick="selectCode(this); return false;">{L_SELECT_ALL_CODE}</a></dt><dd><code>{TEMPLATE_SOURCE_CODE}</code></dd></dl>
					</div>
				</div>	
				<span class="corners-bottom"><span></span></span>
			</div>	
			</div>
			<span class="corners-bottom"><span></span></span>

		</div>
	</div>


<!-- INCLUDE overall_footer.html -->
